<style>@import url('https://fonts.googleapis.com/css?family=Bad+Script');</style>

<section class="backgroundtedy container-fluid col-xs-4 col-sm-12 animated fadeIn fast">
  <div>
    <p>"Siempre hay un momento en la infancia cuando la puerta se abre y deja entrar al futuro"<br> <span>Graham Greene</span></p>
    <a class="button btn-lg" [routerLink]="['centres']">Centros</a>
  </div>
</section>

<section class="backgroundbaby container-fluid col-xs-4 col-sm-12 v">
  <div>
    <p>"Para él no era un error conservar dentro de sí una parte de infancia, una parte de sueño"<br> <span>Marc Levy</span></p>
    <a class="button btn-lg" [routerLink]="['Voluntarie']">Voluntariado</a>
  </div>
</section>

<section class="backgroundbox container-fluid col-xs-4 col-sm-12 animated fadeIn fast">
  <div>
    <p>"Si he sido capaz de iluminar una sola infancia triste, estoy satisfecha" <br><span>Astrid Lindgren</span></p>
    <a class="button btn-lg" [routerLink]="['donate']">Donar</a>
  </div>
</section>
