<div class="container-fluid col-xs-4 col-sm-12 animated fadeIn fast">
  <p>Siempre hay un momento en la infancia cuando la puerta se abre y deja entrar al futuro Graham Greene</p>
<!-- backgound image -->
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container-fluid col-xs-4 col-sm-12 animated fadeIn fast">
  <p>Si he sido capaz de iluminar una sola infancia triste, estoy satisfecha Astrid Lindgren</p>
<!-- backgound image -->
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container-fluid col-xs-4 col-sm-12 v">
  <p>Para él no era un error conservar dentro de sí una parte de infancia, una parte de sueño
Marc Levy</p>
<!-- backgound image -->
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
