.container-fluid{
  height: 400px;
  background-size: cover;
}
.backgroundtedy{
background-image: url("../../../assets/img/tedy.png");
background-position: center;
}
.backgroundbox{
background-image: url("../../../assets/img/box.png");
background-position: center;
background-repeat: no-repeat;

}
.backgroundbaby{
background-image: url("../../../assets/img/baby.png");
background-position: center;
}

p{
  color: black;
  font-family: 'Bad Script', cursive;
  font-size: 1.5em;
  margin: 0 auto;
  padding-bottom: 30px;
}
span{
  font-size: 0.5em;
}
section>div{
  width: 300px;
  margin: 0 auto;
  height: 200px;
  padding-top: 80px;
}
.fluid-container, .main-container {
    margin-top: 0px;
}
.btn-info {
    color: #fff;
    background-color:rgba(119,118,119,.5);
    border-color: transparent;
    width: 45%;
    margin-bottom: 40px;
}
.btn-info:hover{
  background: #6A808A;
}
.login a{
  text-decoration: none;
  color: #777677;
}
