<div class="container animated fadeIn fast">
  <h2>Aporta tu granito de arena</h2><br><p> Conoce la historia al detalle de cada centro.
    Aporta tu granito de  arena, ayuda a la inserción social de estos pequeños
    super héroes. Escribe un final feliz en sus historias, no dejes que solo sean pesadillas.</p>
  <div *ngFor="let centro of centres">
    <div>
      <h4><i class="fa fa-map-marker" aria-hidden="true"></i>{{ centro.name }}</h4>
      <p>Número de cuenta: {{ centro.countNumber }}</p>
    </div>
    <a class="btn btn-info" [routerLink]="['/centres', centro._id]"> Donar</a>
  </div>
</div>
