<div class="container animated fadeIn fast">
  <h2>Aporta tu granito de arena</h2><br><p> Conoce la historia al detalle de cada centro.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div *ngFor="let centro of centres">
    <div>
      <h4><i class="fa fa-map-marker" aria-hidden="true"></i>{{ centro.name }}</h4>
      <p>Número de cuenta: {{ centro.countNumber }}</p>
    </div>
    <a class="btn btn-info" [routerLink]="['/centres', centro._id]"> Donar</a>
  </div>
</div>
