<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" [routerLink]="['home']"><img src="../../../assets/img/A-64.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['centres']">Centros</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['voluntario']">Voluntariado</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Donar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" routerLinkActive="active">
          <a class="dropdown-item" [routerLink]="['juguetes']">Juguetes</a>
          <a class="dropdown-item" [routerLink]="['economica']">Ayuda económica</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['heroes']">Super heroes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['login-form']">Login</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['chat']">chat</a>
      </li> -->
    </ul>
    <span *ngIf="user"><a [routerLink]="['profile', user._id]">Bienvenido! {{user.username}} </a></span>
  </div>
</nav>
