<nav>
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['home']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['centres']">Centros</a>
    </li>
    <li>
      <a>Donar</a>
      <ul>
        <li routerLinkActive="active"><a [routerLink]="['economica']">Ayuda Económica</a></li>
        <li routerLinkActive="active"><a [routerLink]="['juguetes']">Juguetes educativos</a></li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['heroes']">Super heroes</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['login-form']">Login</a>
    </li>
  </ul>
</nav>
