<div class="container login">
  <div class="col-xs-4 col-sm-6">
    <h2>Edit profile</h2>
    <form>
      <div class="form-group">
        <label for="name"></label>
        <input class="form-control" id="name" type="text" [(ngModel)]="username" name="username">
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input class="form-control" id="password" type="password" [(ngModel)]="password" name="password">
      </div>
      <div class="form-group">
        <label for="email"></label>
        <input class="form-control" id="email" type="email" [(ngModel)]="email" name="email">
      </div>
      <div class="form-group">
        <label for="sex"></label>
        <input class="form-control" id="sex" type="sex" [(ngModel)]="sex" name="sex">
      </div>
      <div class="form-group">
        <label for="age"></label>
        <input class="form-control" id="age" type="age" [(ngModel)]="age" name="age">
      </div>
      <!-- <textarea name="message" rows="10" cols="30" placeholder="About you" name="about"></textarea> -->
      <button (click)="signup()" class="btn btn-info"> Edit</button>
    </form>
  </div>
</div>
